/* Global Styles */
body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}

a {
   text-decoration: none;
   color: #E5E7EB;
}

h2 {
   color: #333;
   text-align: center;
}

/* Header */
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #1F2937;
   padding: 20px 50px;
}

.logo {
   font-size: 24px;
   font-weight: bold;
   color: #F9FAF8;
}

.links {
   display: flex;
   list-style: none;
   gap: 15px;
}

.links li a {
   padding: 5px 10px;
}

/* Hero Section */
.hero {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
   background-color: #E3F5E0;
   padding: 50px 20px;
}

.container {
   display: flex;
   flex-direction: column;  /* Coloca os itens (título e subtítulo) um abaixo do outro */
   justify-content: center; /* Centraliza verticalmente */
   align-items: center;     /* Centraliza horizontalmente */
   text-align: center;      /* Garante que o texto fique centralizado */
   margin-right: 200px;
}

.placeholder {
   margin-top: 20px;
   background-color: #71797E;
   height: 500px;
   width: 500px;
   display: inline-block;
}

/* About Section */
.about {
   padding: 20px;
   text-align: center;
}

/* Menu Section */
.menu-section {
   margin-bottom: 0;
   text-align: center;
   background-color: #F5F5DC;
   padding: 40px 20px;
}

.menu-section h2 {
   margin-bottom: 20px;
}

.img-text {
   display: grid;
   grid-template-columns: repeat(4, 1fr); /* 4 itens por linha */
   gap: 20px; /* Espaço entre os quadrados */
   list-style: none;
   padding: 0;
   justify-content: center; /* Garante que todo o grid fique centralizado */
}

.img-text li {
   text-align: center; /* Centraliza o texto e o quadrado */
}

.square {
   height: 250px;
   width: 250px;
   background-color: #eee;
   border-radius: 8px;
   margin: 0 auto; /* Centraliza o quadrado dentro do item */
   display: flex;
   align-items: center;
   justify-content: center;
}

.inf-text {
   margin-top: 10px;
   font-size: 16px;
   color: #333;
}

/* Reservas Section */
.reservas {
   text-align: center;
   padding: 20px;
}

form {
   display: flex;
   flex-direction: column;
   max-width: 400px;
   margin: 0 auto;
   gap: 10px;
}

/* Contato Section */
.contato {
   background-color: #F3F4F6;
   padding: 20px;
   text-align: center;
}

/* Footer */
.footer {
   background-color: #1F2937;
   color: #E5E7EB;
   text-align: center;
   padding: 20px;
}
